fastapi
uvicorn
python-dotenv
pydantic-settings
chromadb
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-ollama
arxiv
requests
beautifulsoup4
huggingface_hub
sqlalchemy

# PDF Ingestion Pipeline
docling
llama-index
llama-index-embeddings-ollama
llama-index-vector-stores-chroma
llama-index-llms-ollama

# CrewAI for Agentic RAG
crewai
crewai-tools
